<a href="https://colab.research.google.com/github/quilaohazelannep/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [ ]:
class MyClass:
 pass

In [ ]:
class OOP1_2:
  X = 5
  print(X)

5

Create Objects

In [ ]:
class OOP1_2:
  def __init__(self, name, age): #__init__(parameter)
    self.name = name            #attributes
    self.age = age

  def indentity(self):
   print(self.name,self.age)
  
person = OOP1_2("Hazel", 19) #create objects

print(person.name)
print(person.age)
print(person.indentity)

Hazel
19
<bound method OOP1_2.indentity of <__main__.OOP1_2 object at 0x7f548d43da50>>

In [ ]:
#Modify the Object Name

person.name = "Anne"
print(person.name)
print(person.age)

Anne
19

In [ ]:
person.age = 20

print(person.name)
print(person.age)

Anne
20

In [ ]:
#Delete the Object

del person.name

AttributeError: ignored

In [ ]:
print(person.name)

AttributeError: ignored

In [ ]:
print(person.age)

20

Application 1 - Write a python program that computes the area of a square, and name its class as Square, side as attribute.

In [ ]:
class Square:
  def __init__(self, sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides  #formula to complete the area of the square

  def display(self):
    print("the area of a square is:", self.area())

square = Square(4)


print(square.sides)
square.display()

4
the area of a square is: 16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named Myclass, and name, age, school, course as attributes.

In [ ]:
class Myclass:
  def __init__(self, name, age, course, school):
    self.name = name                #attributes
    self.age = age
    self.course = course
    self.school = school

  def identity(self):
    print(self.name,self.age,self.course,self.school)

attributes = Myclass("Hazel Anne P. Quilao", 19, "BS Computer Engineering", "Cavite State University - Main Campus")

print(attributes.name)
print(attributes.age)
print(attributes.course)
print(attributes.school)

Hazel Anne P. Quilao
19
BS Computer Engineering
Cavite State University - Main Campus